body{
    background-color: beige;
}
.flexbox-demo div
{
    background-color: red;
    border-radius: 20px;
    height: 300px;  
    width: 300px;
    border: 3px solid black;
    margin: 15px; 
    flex-basis: 500px;
    
}

.flexbox-demo
{
    display: flex;
    /* flex-wrap: inherit; */
    flex-direction: row;
    align-self: center;
    margin-left: 180px;
    

}
h2{
    color: lightcyan;
    margin: 50px;
    padding: 70px;
}